@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');


$salmoncolor: #fa8072;
$font: 'Poppins', sans-serif;


body{
    background-image: url("./images/officebackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: $font;
}

h1 > .logo {
    width: 20%;
}

nav{
    margin: 0 auto;
    text-align: center;
}

button{
    width: 180px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 8px #ff61241f;
}

.toggle-btn{
    padding: 10px 30px;
    margin: 0px 10px;
    cursor: pointer;
    background: white;
    border: 3px solid $salmoncolor;
    outline: none;
    position: relative;
    background: transparent;
    box-shadow: inset 0 0 0 0 $salmoncolor;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

}

.toggle-btn:hover {
    box-shadow: inset 400px 0 0 0 $salmoncolor;
    color: white;
}

.App > a > h1{
    text-align: center;
    text-decoration: none;
}

.App > a{
    text-decoration: none;
    color: black;
}

form{
    background-color:white;
    width: 60%;
    color:black;
    height: 400px;
    margin: 40px auto;
    padding: 20px;

    input[type="text"], input[type="password"]{
        width: 65%;
        padding: 12px;
        margin-top: 5px;
        background-color: white;
        color:black;
        border: none;
        box-shadow: 0 0 20px 8px #ff61241f;
        margin-bottom: 20px;
    }
    input[type="submit"] {
        background-color: $salmoncolor;
        border:0;
        color: white;
        padding: 10px;
        width: 200px;
        margin-top: 20px;
        transition: 0.2s all;
    }
    input[type="submit"]:active {
        transform: scale(0.95);
    }
    input:focus {
        outline:0;      
    }
    h2{
        margin-top: 20px;
    }
}

.home {
    h2, p {color: rgb(44, 44, 44)}
    h2{
        margin-top: 50px;
    }
    p{
        font-size: .8em;
        margin-top: -10px;
    }
}


.login{
    left: 500px;
}

.errormessage{
    color: red;
    text-align: left;
    font-size: .7em;
    margin-top: -10px;
    padding: 0 0 0px 100px;
}

// Index page
.createform{
    background-color:white;
    color:black;
    height: 450px;
    padding: 20px;
    width: 90%;

    input[type="text"], input[type="password"]{
        padding: 12px;
        margin-top: 5px;
        background-color: white;
        color:black;
        border: none;
        box-shadow: 0 0 20px 8px #ff61241f;
        margin-bottom: 20px;
    }
    input[type="submit"] {
        background-color: $salmoncolor;
        border:0;
        color: white;
        padding: 10px;
        width: 200px;
        margin-top: 20px;
        transition: 0.2s all;
    }
    input[type="submit"]:active {
        transform: scale(0.95);
    }
    input:focus {
        outline:0;      
    }
    #applied{
        background-color: #acbdc9;
        margin-left: 20px;
    }
    h2{
        margin-top: -10px;
    }
}

.list-container{
    display: flex ;
    justify-content: space-around;
}

.applied{
    background-color:#acbdc9;
    color:white;
    height: 500px;
    padding: 20px;
    width: 40%;

}

.job{
    h4{
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
    transition: 0.2s;
    }
    a { text-decoration: none; }
    a:hover { 
        text-decoration: underline;
        text-decoration-color: white;

    }
}

.job h4:hover{
    transform: scale(1.03);

}

hr{
    height:1px;
    border-width:0;
    color:white;
    background-color:white;
}

.wishlist{
    background-color:$salmoncolor;
    color:white;
    height: 500px;
    padding: 20px;
    width: 40%;
}

.dragactive{
    background-color: #fa513e;
}

.dragcomplete{
    background-color: #58b2db;
}


@media only screen and (max-width: 600px) {
    
    h1 > .logo {
        width: 50%;
        margin-top: 20px;
    }    

    nav{
        width:100%;
    }

    form{
        width: 100%;
        input, h2{
            margin-left: -40px;
        }
    }

    .errormessage{
        padding: 0 0 0px 60px;
    }
    .list-container{
        flex-direction: column;
    }
    .applied{
        width: 100%;
    }
    .wishlist{
        width: 100%;
    }
}

  @media only screen and (min-width: 1200px) {
    .errormessage{
        padding: 0 0 0px 135px;
    }
  }

  .showbutton {
    background-color: salmon;
    border:0;
    color: white;
    // padding: 10px;
    width: 200px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 28px;
}